body{
    font-family: sans-serif;
    margin: 0;
}

div{
    background-color: aqua;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin: 0;
    height: 70px;
    width: 200px;
}